snippet dm "defmodule" b
defmodule $1 do
  $2
end
endsnippet

snippet df "function" b
${1:def} $2($3) do
  $4
end
endsnippet

snippet m "map"
%{$1}
endsnippet

snippet fn "anonymous function"
fn $1-> $2 end
endsnippet
